<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkk.op.user.persistence.mapper.UserMapper">

  <!--user-->

  <insert id="insert" useGeneratedKeys="true" keyColumn="id">
    INSERT INTO user
      (name, username, password, gender, age, email)
    VALUES (#{name}, #{username}, #{password}, #{gender}, #{age}, #{email})
  </insert>

  <update id="updateByPK">
    UPDATE user
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="age != null">
        age = #{age},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <sql id="columns">
    id
    , name, username, gender, age, email
  </sql>

  <select id="selectByPK" resultType="com.kkk.op.user.persistence.model.UserDO">
    SELECT
    <include refid="columns"/>
    FROM
    user
    WHERE id = #{userId}
  </select>

  <!--account-->

  <insert id="insertAccount" useGeneratedKeys="true" keyColumn="id">
    INSERT INTO account
      (user_id, state, create_time)
    VALUES (#{user_id}, #{state}, #{create_time})
  </insert>

  <update id="updateAccountByPK">
    UPDATE account
    <set>
      version = #{version} + 1,
      <if test="state != null">
        state = #{state},
      </if>
    </set>
    WHERE id = #{id} AND version = #{version}
  </update>


  <sql id="account_columns">
    id
    , user_id, state, create_time, version
  </sql>

  <select id="selectAccountByPK" resultType="com.kkk.op.user.persistence.model.AccountDO">
    SELECT
    <include refid="account_columns"/>
    FROM
    account
    WHERE id = #{accountId}
  </select>

  <select id="selectAccountsByUserId" resultType="com.kkk.op.user.persistence.model.AccountDO">
    SELECT
    <include refid="account_columns"/>
    FROM
    account
    WHERE user_id = #{userId}
  </select>

</mapper>