<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkk.op.user.persistence.mapper.UserMapper">

  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO user
      (name, username, password, gender, age, email)
    VALUES (#{name}, #{username}, #{password}, #{gender}, #{age}, #{email})
  </insert>

  <update id="updateById">
    UPDATE
    user
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="age != null">
        age = #{age},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
    </set>
    WHERE
    id = #{id}
  </update>

  <sql id="columns">
    id, name, username, gender, age, email
  </sql>

  <select id="selectById" resultType="com.kkk.op.user.persistence.model.UserDO">
    SELECT
    <include refid="columns"/>
    FROM
    user
    WHERE id = #{id}
  </select>

</mapper>