<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.ddd.user.persistence.UserMapper">

  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO `user` (`state`, `name`, `phone`, `email`)
    VALUES (#{state}, #{name}, #{phone}, #{email})
  </insert>

  <update id="updateById">
    UPDATE
    `user`
    <set>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="phone != null">
        `phone` = #{phone},
      </if>
      <if test="email != null">
        `email` = #{email},
      </if>
      `version` = #{version} + 1,
    </set>
    WHERE `id` = #{id} AND `version` = #{version} AND `deleted` = 0
  </update>

  <!--一对多使用嵌套查询才支持分页-->
  <resultMap id="fullResultMap" type="com.kk.ddd.user.persistence.UserPO" autoMapping="true">
    <id column="id" property="id"/>
    <collection property="accounts" column="id"
      select="com.kk.ddd.user.persistence.AccountMapper.selectByUserId"/>
  </resultMap>

  <sql id="columns">
    `id`, `state`, `name`, `phone`, `email`, `create_time`, `update_time`, `version`
  </sql>

  <select id="selectById" resultMap="fullResultMap">
    SELECT
    <include refid="columns"/>
    FROM
    `user`
    WHERE `id` = #{id} AND `deleted` = 0
  </select>

  <select id="selectByIds" resultMap="fullResultMap">
    SELECT
    <include refid="columns"/>
    FROM
    `user`
    WHERE `id` IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    AND `deleted` = 0
  </select>

</mapper>