<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.ddd.user.persistence.UserMapper">

  <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO user
      (name, username, password, gender, age, email)
    VALUES (#{name}, #{username}, #{password}, #{gender}, #{age}, #{email})
  </insert>

  <update id="updateById">
    UPDATE
    user
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="age != null">
        age = #{age},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
    </set>
    WHERE id = #{id}
  </update>

  <!--一对多使用嵌套查询才支持分页-->
  <resultMap id="fullResultMap" type="com.kk.ddd.user.persistence.UserPO" autoMapping="true">
    <id column="id" property="id"/>
    <collection property="accounts" column="id"
      select="com.kk.ddd.user.persistence.AccountMapper.selectByUserId"/>
  </resultMap>

  <sql id="columns">
    id, name, username, gender, age, email
  </sql>

  <select id="selectById" resultMap="fullResultMap">
    SELECT
    <include refid="columns"/>
    FROM
    user
    WHERE id = #{id}
  </select>

  <select id="selectByIds" resultMap="fullResultMap">
    SELECT
    <include refid="columns"/>
    FROM
    user
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

</mapper>